.center{
    padding-top: 0px;
    padding-left: 500px;
    font-size: xx-large;
    font-family:cursive;
    font-style: italic;
    color:black;
}
.c{
    padding-left: 410px;
    padding-bottom: 50px;
    padding-top: 100px;
    

}
.back{
    padding-left:680px;
    font-size: x-large;
}