<body style="background-color: rgb(162, 147, 224);">
<mat-icon matPrefix class="des" style="color: aliceblue;">home</mat-icon><mat-label class="home" style="color: beige;">Home</mat-label>
<div class="log">
    <button routerLink="" style="size: 30px;"> logout </button>
    </div>
<mat-card class="card">
    <div class="txt">
        <p style="font-size: xx-large;">Current Weather</p>
    <p>Temperature : {{WeatherData.temp_celcius}}&deg;C</p>
    <p>{{WeatherData.name}} , Tamil Nadu</p>
    <img src="assets/images/sun.jpg" style="height: 100px; width: 100px;">
</div>

</mat-card>

</body>
<!--powershell -ExecutionPolicy Bypass -Command "ng serve"
-->

  
  
  